.headerContainer{
    margin-top: 50px;

    .subtitle{
        font-weight: 600;
        // opacity: .90;
    }
    .descriptionWrapper{
        text-align: justify;
        margin: 8px 35px 0 35px;
    }
}