.tabNavigatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    // background:#fff;
    margin: 24px 15px;
    overflow-x: auto;
    scroll-behavior: auto;

    .tabNavigatorWrapper{
        display: flex;
        margin: 10px 0;

        .TabNavBtn {
            color: #292B2C;
            margin: 0 5px 10px 5px;
        
        }
        
        .TabNavBtn:active{
            top: 5px;
        }
        .TabNavBtn:hover,.TabNavBtn:focus {
            background: #292B2C !important;
            color:#fff
        }
    
    }
}

@media (max-width:525px) {
    .tabNavigatorContainer{
        justify-content: flex-start;
    }
}