.tabNavigatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    // background:#fff;
    margin: 24px 15px;
    overflow-x: auto;
    scroll-behavior: auto;

    .tabNavigatorWrapper{
        display: flex;
        margin: 10px 0;

        .TabNavBtn {
            color: #292B2C;
            margin: 0 5px 10px 5px;
        
        }
        
        .TabNavBtn:active{
            top: 5px;
        }
        .TabNavBtn:hover,.TabNavBtn:focus {
            background: #292B2C !important;
            color:#fff
        }
    
    }
}

.bottomTabNavigatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    // background:#fff;
    overflow-x: auto;
    scroll-behavior: auto;

    .tabNavigatorWrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 0px -5px 5px 0px rgba(138,138,138,0.75);
        -moz-box-shadow: 0px -5px 5px 0px rgba(138,138,138,0.75);
        box-shadow: 0px -5px 5px 0px rgba(138,138,138,0.75);

        .TabNavBtn {
            color: #292B2C;
            margin: 8px;
            background: #fff;

            img {
                object-fit: contain;
                opacity: 0.9;
            }
        
        }
        
        .TabNavBtn:active{
            top: 5px;
        }
    
    }
}

@media (max-width:525px) {
    .tabNavigatorContainer{
        justify-content: flex-start;
    }
}