.categoryContainer{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 0 20px;

    // .category{

    // }
}

.card{
    width: 296px;
    margin: 10px; 
}

.cardTitle{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    // height: 58px;
    // display: flex;
    // flex-wrap: wrap;
    // word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.cardImage{
    height: 180px;
    background: #EEEEEE;
    opacity: 1; 
    transition: opacity 0.3s ease-in 0s;
    position: relative;

    &::after {  
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EEEEEE;
      }
}

.descriptionWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;

    .dot{
        font-size: 14px;
        font-weight: 1000;
        padding: 0 8px;
        
    }
}

// .date{
//     font-size: 12px;
// }


@media (max-width:767px) and (min-width: 409px){
    .card{
        width: 100%;  
    }
    .cardImage {
        height: 220px;
        // max-height: 240px;
    }

}