.mainMenuWrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    

    // .mainMenu{
    //     width: 420px;
    // }
}



@media (max-width:768px){
    .leftMenu{
        width: auto;
    }
    .desktopMenu {
        display: none;
    }
}
@media (min-width:768px){
    .mobileMenu {
        display: none;
    }
}

@media (max-width:550px){
    .mainMenuWrapper{
        justify-content: start;
    }
}